div#boundary {
    background-color: #000000;
    border: 1px solid #0000FF;
/*
    height: 100%;
    width: 100%;
*/
    z-index:-1;
    margin: 0;
}

.game-object {
	display: inline-block;
	overflow: hidden;
}

.brick {
	border: 1px solid #FFFFFF;
}

.sprite-img {
	height: 100%;
	width: 100%;
}

#startMessage {
	text-align: center;
	margin: 0 auto;
	height: 100%;
	width: 100%;
}