body, body#boundary {
    height: 100%;
    width: 100%;
    margin: 0;
}

.game-object {
	display: inline-block;
	overflow: hidden;
}

.sprite-img {
	height: 100%;
	width: 100%;
}

#startMessage {
	text-align: center;
	margin: 0 auto;
	height: 100%;
	width: 100%;
}